@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  /* margin: 0;
  padding: 0; */
}

header {
  /* width: 100%; */
  background-color: rgb(45, 80, 68);
  display: flex;
  justify-content: center;
  align-content: flex-start;
  font-family: poppins;
  padding: 2.5rem 0;
}

header h1 {
  background-color: rgb(80, 47, 47);
  font-size: 3rem;
}

body {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-content: center;
  background-color: rgb(107, 38, 107);
}

.container {
  background-color: rgb(80, 47, 47);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 40px 70px 70px 70px;
}

.container h2 {
  /* display: flex-end; */
  /* margin: 0 auto */
  justify-self: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.container h3 {
  font-size: 2rem;
  border-bottom: 1px solid #fff;
  display: inline-block;
  width: 125px;
  align-self: center;
}

.container h4 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.stocks-data {
  /* height: 100px; */
  margin-top: 2rem;
  width: 100%;
}

/* .stocks-data h3 {
  display: flex;
  align-self: center;
  justify-self: center;
} */

.row {
  display: flex;
  width: 15rem;
  justify-content: space-between;
  /* text-decoration: underline; */
  border-bottom: 1px solid #fff;
  padding-bottom: 3px;
}

.search-bar {
  margin-bottom: 2rem;
}

.search-bar input {
  padding: 10px;
}

.search-bar button {
  padding: 10px;
}
